<%= form_for @post do |form| %>
<div class="log-in">
<div class="form-group">
  <%= form.label :message, class: "message-label" %>
  <%= form.text_area :message, class: "form-control" %>
    </div>
      <div class="actions">
  <%= form.submit "Submit", class: 'btn btn-success' %>
    </div>
    </div>
<% end %>
